/* ==============================================
   COLORS
   ============================================== */
.text-licht {
	color: #fafafa;
	}
.donker {
	background-color: #002530;
	}
/* ==============================================
   GLOBAL STYLES
   ============================================== */
hr {
	background-color: #fafafa;
	}
.btn:hover {
	color: #002530;
	border: 1px solid #fafafa;
	}
.row>div {
  margin-bottom: 30px;
	}

/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}